* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --main-color-one: #fcfcfc;
    --main-color-two: #0c496b;
    --title-color-one: #024165;
    --subtitle-color-one: #376885;
    --text-color-one: #8ca8b9;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    
}



.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: var(--main-color-two);
    
    
}

.nav-link {
    padding: 0 20px;
    text-decoration: none;
    line-height: 50px;
    transition: .3s;
    color: var(--main-color-one)

}

.nav-link:hover {
    text-decoration: underline var(--main-color-one) 3px;
}

html {
    scroll-behavior: smooth;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    padding: 10px;
}


#profile {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-color-one);
    
    
}

.photo-space {
  position: relative;  
  right: 117px;
  bottom: 5px;
  
    
    
}

img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    border: 7px solid var(--main-color-two);
    
}

.name-profession {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: var(--title-color-one);
}

#languages {
    width: 100%;
}
.main-info {
    display: flex;
    flex-direction: row;

    
    
}

.left-column { 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75%;
  background-color: var(--main-color-two);
  color: var(--main-color-one);

}

.right-column {
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  color: var(--title-color-one);
  background-color: var(--main-color-one);
    
}

.section-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 5px 39px;
}

.contact-item {
    list-style: none;
    padding: 5px 20px;
}

.skills-item {
    padding: 5px 20px;
}

.languages-item {
    padding: 5px 20px;
}

ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.about-me-content {
    padding: 5px 55px;
}

.code-content {
    padding: 5px 55px; 
    color: var(--text-color-one)
}

.code-task-content {
    padding: 5px 55px;
    color: var(--subtitle-color-one)
}

.projects-item {
    padding: 5px 15px;
   
}

.education-item {
    padding: 5px 15px;
    color: var(--text-color-one)
    
}

.projects-link {
    text-decoration: none;
    color: var(--text-color-one)
}

.projects-link:hover {
    color: var(--title-color-one);
    position: relative;
    left: 5px;
}


